@use "../../assets/styles/variables" as *;
@use "../../assets/styles/typography" as *;

.weather-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: $font-color;
}
